/*======================================================
                          Elements
  ======================================================*/

html {
  scroll-behavior: smooth; 
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

/*======================================================
                          Common                          
  ======================================================*/

.section {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  background-color: #f2f2f2;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}